.idea
.vscode
/out
/log
/noir_template/target
/noir_template/Cargo.lock
/noir_template/src/main.rs
/test/expected/ibis-result.csv
__pycache__
penguins.ddb
/data/nexmark_data_gen/target
/data/nexmark_data_gen/Cargo.lock
