.idea
.venv*
/out
/log/codegen_log.csv
/log/memo_log.csv
/noir_template/target
/noir_template/Cargo.lock
/noir_template/src/main.rs
/test/expected/ibis-result.csv
__pycache__
penguins.ddb
/data/nexmark_data_gen/target
/data/nexmark_data_gen/Cargo.lock
/data/nexmark/auction_*
/data/nexmark/person_*
/data/nexmark/bid_*
/data/operator_data_gen/target
/data/operator_data_gen/Cargo.lock
/data/nullable_op/ints_strings_*
/data/nullable_op/many_ints_*
/data/non_nullable_op/fruit_left_*
/data/non_nullable_op/fruit_right_*
/data/tpch/
/data/tpc_data_gen/target
/data/tpc_data_gen/Cargo.lock
*COMPARISON*
*.db
flink-*
*summary_plot.png
/noir_template/evcxr_preload.rs
/noir_template/src/main_evcxr.rs
/libs
/libssl*
/risingwave
/log/scenario/banana*
/spark_checkpoint