aiohttp==3.9.3
aiosignal==1.3.1
apache-beam==2.48.0
apache-flink==1.18.1
apache-flink-libraries==1.18.1
appdirs==1.4.4
async-timeout==4.0.3
atpublic==4.0
attrs==23.2.0
avro-python3==1.10.2
bidict==0.23.1
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==2.2.1
crcmod==1.7
decorator==5.1.1
dill==0.3.1.1
dnspython==2.6.1
docopt==0.6.2
duckdb==0.10.0
duckdb_engine==0.11.2
exceptiongroup==1.2.0
fastavro==1.9.4
fasteners==0.19
find-libpython==0.3.1
frozenlist==1.4.1
fsspec==2024.2.0
gcsfs==2024.2.0
google-api-core==2.17.1
google-auth==2.28.2
google-auth-oauthlib==1.2.0
google-cloud-core==2.4.1
google-cloud-storage==2.15.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
graphviz==0.20.1
greenlet==3.0.3
grpcio==1.62.1
hdfs==2.7.3
httplib2==0.22.0
humanize==4.9.0
ibis-framework==8.0.0
idna==3.6
importlib_metadata==7.0.2
importlib_resources==6.1.3
iniconfig==2.0.0
Jinja2==3.1.3
joblib==1.3.2
kafka-python==2.0.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
mdurl==0.1.2
multidict==6.0.5
multipledispatch==1.0.0
numpy==1.24.4
oauthlib==3.2.2
objsize==0.6.1
orjson==3.9.15
packaging==23.2
pandas==2.2.1
parsy==2.1
pemja==0.3.0
pins==0.8.4
pluggy==1.4.0
polars==0.20.31
proto-plus==1.23.0
protobuf==4.23.4
py4j==0.10.9.7
pyarrow==11.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pydot==1.4.2
Pygments==2.17.2
pymongo==4.6.2
pyparsing==3.1.2
pytest==8.1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
requests-oauthlib==1.4.0
rich==13.7.1
rsa==4.9
six==1.16.0
SQLAlchemy==2.0.28
sqlalchemy-views==0.3.2
sqlglot==20.11.0
tomli==2.0.1
toolz==0.12.1
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.1
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
zstandard==0.22.0
